<!--新着投稿-->
<% posts.each do |post| %>
  <div class="card d-inline-flex" style="width: 200px; height: 380px;">
    <div class="card-img flex-row text-center" style="width: 200px; height: 200px;">
      <%= image_tag post.get_image(200, 200), class: "h-100" %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= truncate(post.title, length: 7) %></h5>
      <p class="card-text mb-0" style="height: 72px;"><%= truncate(post.body, length: 30) %></p>
      <p class="text-right"><%= link_to "詳細", post_path(post.id), class: "btn btn-info" %></p>
    </div>
  </div>
<% end %>