<% posts.each do |post| %>
  <div class="card d-inline-flex">
    <%= image_tag post.get_image(200, 200) %>
    <div class="card-body">
      <h5 class="card-title"><%= truncate(post.title, length: 10) %></h5>
      <p class="card-text"><%= truncate(post.body, length: 30) %></p>
      <%= link_to "詳細", post_path(post.id), class: "btn btn-info" %>
    </div>
  </div>
<% end %>