<!--キーワード検索欄-->
<% if user_signed_in? %>
  <h5 class="font-weight-bold mt-3">＜キーワード検索＞</h5>
  <div class="search_word_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :search_word %>
      <%= f.submit "検索", class: "btn btn-secondary btn-sm" %>
    <% end %>
  </div>
<% end %>