<!--ルーム詳細-->
<div class="container-fluid w-100 py-3" style="background-color: #c1e4e9;">
  <div class="RoomBtn text-right">
    <%= link_to "削除", admin_room_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
  </div>
  <div class="RoomTitle text-center py-3">
    <h2><u><%= link_to "#{@room.post.title}", admin_post_path(@room.post) %></u></h2>
  </div>
  
  <!--チャットメッセージ-->
  <div id="chats">
    <%= render "admin/chats/chat_list", chats: @chats %>
  </div>
</div>