<!--ルーム一覧-->
<div class="container-fluid w-75 my-3">
  <div class="SearchForm d-inline-flex justify-content-end w-100">
    <%= render "search_room" %>
  </div>
  <div class="RoomList">
    <h2 class="font-weight-bold"><i class="fas fa-comments"></i> チャット一覧</h2>
    <%= render "room_list", post_user_room: @post_user_room %>
    <%= render "pagination", post_user_room: @post_user_room %>
  </div>
</div>