<!--ルーム詳細-->
<div class="container-fluid w-75" style="background-color: #eaf4fc;">
  <!--ルームタイトル-->
  <div class="row justify-content-center py-3">
    <% @user_rooms.each do |ur| %>
      <% if ur.user != current_user %>
        <h2><u><%= link_to "#{ur.room.post.title}", post_path(ur.room.post) %></u></h2>
      <% end %>
    <% end %>
  </div>
  
  <!--チャットメッセージ-->
  <div id="chats">
    <%= render "public/chats/chat_messages", chats: @chats %>
  </div>
  
  <!--新規メッセージフォーム-->
  <%= render "public/chats/form_chat", chat: @chat %>
</div>