<!--キーワード検索結果-->
<div class="container mt-3">
  <h2 class="font-weight-bold">＜検索結果＞</h2>
  <p>"<%= @search_word %>"で検索しています</p>
  
  <% if @posts.present? %>
    <table class="table table-bordered text-center" style="table-layout: fixed;">
      <%= render "public/posts/posts-thead" %>
      <% @posts.each do |post| %>
        <%= render "public/posts/posts-tbody", post: post %>
      <% end %>
    </table>
  <% else %>
    <p class="text-center my-5">投稿が見つかりませんでした</p>
  <% end %>
  
  <!--ページネーション-->
  <div class="pagination justify-content-center">
    <%= paginate @posts %>
  </div>
</div>