<!--Aboutページ-->
<div class="d-flex justify-content-center my-3">
  <h1 class="display-5 font-weight-bold">About</h1>
</div>

<div class="d-flex justify-content-center mb-2">
  <p class="text-center">
    One's Community（ワンズコミュニティ）は一緒に運動する相手を探す<br>
    "おひとり様向け"のコミュニティサイトです。<br>
    「自分の好きなタイミングで運動したい」、「転勤/進学で周りにスポーツをする友達がいない」<br>
    そのような方々を結びつけ、サッカーのパス交換や野球のキャッチボールといった<br>
    一人で出来ない運動を気軽に一期一会で行う機会を提供します。<br>
    まずは投稿一覧から気になる投稿を探し、リアクションしてみましょう！<br>
    Let's play Sports!!
  </p>
</div>