<!--Aboutページ-->
<div class="AboutTitle d-flex justify-content-center my-3">
  <h1 class="display-5 font-weight-bold"><i class="fas fa-key"></i> About</h1>
</div>

<div class="AboutBody d-flex justify-content-center mb-2">
  <p class="text-center">
    One's Community（ワンズコミュニティ）は一緒に運動する相手を探す<br>
    "おひとり様向け"のコミュニティサイトです。<br>
    「自分の好きなタイミングで運動したい」、「転勤/進学で周りにスポーツをする友達がいない」<br>
    そのような方々を結びつけ、サッカーのパス交換や野球のキャッチボールといった<br>
    一人では出来ない運動を気軽に一期一会で行う機会を提供します。<br>
    まずは投稿一覧から気になる投稿を探してみましょう！<br>
    Let's play Sports!!
  </p>
</div>

<div class="MainVisual w-100 mb-3 px-0">
  <%= image_tag asset_path("about-image.jpg"), class: "img-responsive mx-auto d-block", width: "900", height: "500" %>
</div>