<!--Aboutページ-->
<div class="AboutTitle text-center my-3">
  <h1 class="display-5 font-weight-bold"><i class="fas fa-key"></i> About</h1>
</div>

<div class="AboutBody text-center mb-2">
  <p>
    One's Community（ワンズコミュニティ）は、運動したい"おひとり様向け"のマッチングサイトです。<br>
    「好きな時に好きな場所で好きな運動をしたい」、「進学や転勤で周りにスポーツをする友人がいない」<br>
    そのような方々を結びつけ、パス交換やキャッチボールといった一人では出来ない運動を<br>
    一期一会に行う機会を提供します。まずは投稿一覧から気になる投稿を探してみましょう！<br>
    Let's play Sports!!
  </p>
</div>

<div class="MainVisual w-100 mb-3 px-0">
  <%= image_tag asset_path("about-image.jpg"), class: "img-fluid mx-auto d-block", width: "900", height: "500" %>
</div>