<% chats.each do |chat| %>
  <p>
    <%= image_tag chat.user.get_profile_image(100, 100), class: "profile-img-circle" %>
    <%= chat.user.name %>
  </p>
  <p>
    <h7><%= chat.message %></h7>
    <h7><%= chat.created_at.strftime("%Y/%m/%d %H:%M") %></h7>
  </p>
<% end %>