<!--ルーム検索結果-->
<div class="container-fluid w-75 my-3">
  <div class="SearchForm d-inline-flex justify-content-end w-100">
    <%= render "admin/rooms/search_room" %>
  </div>
  <div class="SearchResult">
    <h2 class="font-weight-bold"><i class="fas fa-search"></i> 検索結果</h2>
    <p>"<%= @search_room %>"で検索しています</p>
    <%= render "admin/rooms/room_list",  rooms: @rooms %>
    <%= render "admin/rooms/pagination", rooms: @rooms %>
  </div>
</div>