<!--キーワード検索結果-->
<div class="container mt-3">
  <h2 class="font-weight-bold">＜検索結果＞</h2>
  <p>"<%= @search_word %>"で検索しています</p>

  <!--投稿一覧テーブル-->
  <%= render "admin/posts/post_list", posts: @posts %>
  
  <!--ページネーション-->
  <div class="pagination justify-content-center">
    <%= paginate @posts %>
  </div>
</div>