<!--ユーザー検索結果-->
<div class="container-fluid w-75 my-3">
  <div class="SearchForm d-flex justify-content-end w-100">
    <%= render "admin/users/search_user" %>
  </div>
  
  <div class="SearchResult">
    <h2 class="font-weight-bold">＜検索結果＞</h2>
    <p>"<%= @search_user %>"で検索しています</p>
    <%= render "admin/users/users_table", users: @users %>
    
    <div class="Pagination justify-content-center">
      <%= paginate @users %>
    </div>
  </div>
</div>