<!--キーワード検索欄-->
<div class="SearchWordForm mr-3">
  <%= form_with url: admin_search_post_path, local: true, method: :get do |f| %>
    <%= f.text_field :search_word, placeholder: "キーワードを入力" %>
    <%= f.submit "検索", class: "btn btn-secondary btn-sm" %>
  <% end %>
</div>