<!--投稿一覧-->
<div class="container-fluid w-75 my-3">
  
  <div class="SearchForm d-inline-flex justify-content-end w-100">
    <%= render "search_word" %>
    <%= render "search_tag" %>
  </div>

  <div class="PostList">
    <h2 class="font-weight-bold">＜投稿一覧＞</h2>
    <%= render "posts_table", posts: @posts %>
    
    <div class="Pagination justify-content-center">
      <%= paginate @posts %>
    </div>
  </div>
</div>