<!--投稿一覧-->
<div class="container-fluid w-75 my-3">
  <div class="row">
    
    <!--検索窓-->
    <div class="col-3">
      <%= render "search_word" %>
      <%= render "search_tag" %>
    </div>
    
    <!--投稿一覧テーブル-->
    <div class="col-9">
      <h2 class="font-weight-bold">＜投稿一覧＞</h2>
      <%= render "post_list", posts: @posts %>
      
      <!--ページネーション-->
      <div class="pagination justify-content-center">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>