<!--ユーザー検索欄-->
<div class="search_user_form text-center my-2">
  <%= form_with url: admin_search_user_path, local: true, method: :get do |f| %>
    <%= f.text_field :search_user, placeholder: "ユーザー名又は氏名を入力", class: "col-sm-4" %>
    <%= f.submit "検索", class: "btn btn-secondary btn-sm" %>
  <% end %>
</div>