<!--ユーザー一覧-->
<div class="container-fluid w-75 my-3">
  <div class="SearchForm d-flex justify-content-end w-100">
    <%= render "search_user" %>
  </div>
  
  <div class="UserList">
    <h2 class="font-weight-bold">＜ユーザー一覧＞</h2>
    <%= render "admin/users/user_list",  users: @users %>
    <%= render "admin/users/pagination", users: @users %>
  </div>
</div>