<h2 class="font-weight-bold">＜通知一覧＞</h2>
<% if @notifications.exists? %>
  <% @notifications.each do |notification| %>
    <%= render "notifications", notification: notification %>
  <% end %>
<% else %>
  <p class="text-center my-5">通知はありません</p>
<% end %>
